@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="post col-md-6">
        <h2 class="title">Information for my TeamWork</h2>
        <p>
            About my TeamWork....//ToDo..
        </p>
    </div>
</div>